<h1> GradeBook using Pandas </h1>

<h2 color="green"> Creating table (DataFrame) with students </h2>

In [161]:
# importing libraries
import pandas as pd
import numpy as np

# creating DataFrame & dictionaries
dct = {"FirstName": [], "LastName": [], "Assignment": [], "Test": [], "Project": [], "Presence": [], "Final Grade": []}


# input from user
answer = "yes"
while answer == "yes":
    firstName = input("First Name of your student:")
    lastName = input("Last Name of your student:")

    dct["FirstName"].append(firstName)
    dct["LastName"].append(lastName)
    assignment = float(input("Assignment Grade:"))
    dct["Assignment"].append(assignment)
    test = float(input("Test Grade:"))
    dct["Test"].append(test)
    project = float(input("Project Grade:"))
    dct["Project"].append(project)
    presence = float(input("Presence Grade:"))
    dct["Presence"].append(presence)
    dct["Final Grade"].append(float(assignment + test + project + presence))
    answer = input("Do you want to continue? (Yes / No)").lower()
    
# create the dataset
df = pd.DataFrame(dct)

# save it to csv file
df.to_csv('grade-book.csv')

# print it
df

    FirstName   LastName  Assignment  Test  Project  Presence  Final Grade
0  firstname1  lastname1         4.0  51.0     32.0      31.0        118.0
1  firstname2  lastname2        41.0  32.0      1.0       3.0         77.0
2  firstname3  lastname3        41.0  32.0      1.0       2.0         76.0

<h2 color="green"> Modify values from students</h2>

In [162]:
# inputs from the user
firstNameToModify = input("First Name of your student:")
lastNameToModify = input("Last Name of your student:")
columnToModify = input("Type the column to modify the value:")

# modify the columns values

# assignment
if columnToModify == "Assignment":
    newAssignment = float(input("New Assignment Grade:"))
    df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Assignment'] = newAssignment
    
    df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Final Grade'] = df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Assignment'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Test'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Project'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Presence'] 

# test
if columnToModify == "Test":
    newTest = float(input("New Test Grade:"))
    df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Test'] = newTest
    
    df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Final Grade'] = df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Test'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Assignment'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Project'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Presence'] 

# project
if columnToModify == "Project":
    newProject = float(input("New Project Grade:"))
    df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Project'] = newProject
    
    df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Final Grade'] = df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Test'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Assignment'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Project'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Presence'] 

# presence
if columnToModify == "Presence":
    newPresence = float(input("New Presence Grade:"))
    df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Presence'] = newPresence
    
    df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Final Grade'] = df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Test'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Assignment'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Project'] + df.loc[(df['FirstName'] == firstNameToModify) & (df['LastName'] == lastNameToModify), 'Presence'] 

# print it
df

    FirstName   LastName  Assignment  Test  Project  Presence  Final Grade
0  firstname1  lastname1         4.0  90.0     32.0      31.0        157.0
1  firstname2  lastname2        41.0  32.0      1.0       3.0         77.0
2  firstname3  lastname3        41.0  32.0      1.0       2.0         76.0

<h2 color="green"> Remove columns from table </h2>

In [163]:
# inputs from the user
columnToRemove = input("Type which category to remove:")

# remove the column
df.drop(columnToRemove, axis=1, inplace=True)
dct.pop(columnToRemove)

# print it
df

    FirstName   LastName  Assignment  Test  Presence  Final Grade
0  firstname1  lastname1         4.0  90.0      31.0        157.0
1  firstname2  lastname2        41.0  32.0       3.0         77.0
2  firstname3  lastname3        41.0  32.0       2.0         76.0

<h2 color="green"> Remove rows from table </h2>

In [164]:
# inputs from the user
firstNameToRemove = input("First Name of your student:")
lastNameToRemove = input("Last Name of your student:")

# remove the specified row
mask = (df['FirstName'] == firstNameToRemove) & (df['LastName'] == lastNameToRemove)
df = df[~mask]
df

    FirstName   LastName  Assignment  Test  Presence  Final Grade
0  firstname1  lastname1         4.0  90.0      31.0        157.0
2  firstname3  lastname3        41.0  32.0       2.0         76.0